<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/form/guardar" method="post">
        <label for="">Simbolo</label>
        <input type="text" name="simbolo" id="simbolo">

        <label for="">Masa atomica</label>
        <input type="text" name="masa_atomica" id="masa_atomica">

        <label for="">Numero atomico</label>
        <input type="text" name="numero_atomico" id="numero_atomico">

        <label for="">Radio atomico</label>
        <input type="text" name="radio_atomico" id="radio_atomico">

        <button type="submit"></button>
    </form>
</body>
</html>