<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <h1>Tabla Periodica</h1>

    <% for(var i=0;i <= elemento.lenght;i++){  %>
        <h2><%= elemento[i].simbolo %></h2>
    <%}%>
</body>
</html>